@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'dana';
  src: url("/fonts/dana.woff"), url("/fonts/dana.woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'dana-bold';
  src: url("/fonts/dana-bold.woff"), url("/fonts/dana-bold.woff2");
  font-weight: bold;
  font-display: swap;
}

:root {
  --whiteColor: #fff;
  --blackColor: #121315;
  --primaryColor: #5660f2;
  --lightColor: #f8f9fa;
  --darkColor: #4A4E57;
  --dangerColor: #fa5555;
  --successColor: #45c26f;
  --warningColor: #E1BC29;
  --blueColor: #0fa5e9;
}

@layer base {
  * {
    @apply p-0 m-0 border-0 outline-0 list-none box-border transition-all duration-150 ease-linear;
    text-decoration: none;
    font-family: 'dana';
    font-size: 0.95rem;
  }

  body {
    @apply bg-white w-full max-w-full h-screen min-h-screen relative;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--primaryColor);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'dana-bold';
  }

  button {
    background: none;
  }

  svg * {
    transition: none !important;
  }
}

@layer utilities {
  .dana-base {
    font-family: 'dana';
  }

  .dana-bold {
    font-family: 'dana-bold';
  }
}

@layer components {
  #root {
    @apply bg-white w-full max-w-full h-full relative;
  }

  .current-height {
    height: calc(100dvh - 4.5rem);
  }

  .current-height-md {
    height: 100%;
  }

  @media screen and (min-width: 768px) {
    .current-height-md {
      height: calc(100dvh - 4.5rem);
    } 
  }

  .mega-menu li:last-child span {
    border: none;
  }

  .active-circle {
    fill: var(--primaryColor);
  }

  #iran-svg circle {
    transition: 1s ease !important;
  }
}

@layer components {
  header nav li {
    @apply ml-7 last:ml-0;
  }

  .nav-link {
    @apply h-full flex justify-center items-center select-none hover:text-jv-primary;
  }

  .nav-link * {
    @apply mr-1.5;
  }

  .btn {
    @apply h-10 flex justify-center items-center px-5 rounded select-none cursor-pointer;
  }

  form .btn {
    @apply !h-12;
  }

  .btn * {
    @apply mr-3;
  }

  .btn-primary {
    @apply bg-jv-primary text-white;
  }

  .btn-danger {
    @apply bg-jv-danger text-white;
  }
}

@layer components {
  .badge {
    @apply flex justify-center items-center text-sm px-3 py-1 rounded select-none;
  }

  .badge * {
    @apply mr-2;
  }

  .badge-danger {
    @apply text-white bg-jv-danger hover:brightness-95;
  }
}

@layer components {
  .input-bg {
    @apply bg-white text-jv-dark w-full h-12 border border-solid border-jv-dark flex justify-between items-center
    rounded relative overflow-hidden hover:border-jv-primary;
  }

  .input {
    @apply bg-none absolute top-0 bottom-0 left-0 right-12 py-2 pl-5 placeholder:opacity-75 focus:placeholder:opacity-100;
  }

  .input-icon {
    @apply absolute top-0 bottom-0 right-0 w-12 flex justify-center items-center;
  }

  .input-icon svg {
    @apply !w-6 !h-6;
  }

  .input-bg:hover .input-icon svg {
    @apply text-jv-primary;
  }
}

@layer components {
  .light-shadow {
    @apply shadow shadow-[#00000010];
  }

  .cubic-1 {
    transition-timing-function: cubic-bezier(.26,.32,.71,1);
  }
}

@layer components {
  .show-mobile-menu {
    animation: show-mobile-menu 750ms ease-out;
  }

  @keyframes show-mobile-menu {
    0% {
      transform: scaleY(1) translateY(100%);
    }
    60% {
      transform: scaleY(1.02) translateY(0);
    }
    80% {
      transform: scaleY(0.99);
    }
    100% {
      transform: scaleY(1);
    }
  }

  .hide-mobile-menu {
    animation: hide-mobile-menu 250ms ease-in forwards;
  }

  @keyframes hide-mobile-menu {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }
  }

  .fade {
    animation: fade 350ms ease;
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .show-message-box {
    animation: show-message-box 1s ease forwards;
  }

  @keyframes show-message-box {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .hidden-message-box {
    animation: hidden-message-box 1s ease forwards;
  }

  @keyframes hidden-message-box {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.5);
    }
  }
}
